@font-face {
    font-family: 'ar_darling';
    src: url('fonts/ar_darling.eot');
    src: url('fonts/ar_darling.eot?#iefix') format('embedded-opentype'),
         url('fonts/ar_darling.woff2') format('woff2'),
         url('fonts/ar_darling.woff') format('woff'),
         url('fonts/ar_darling.ttf') format('truetype'),
         url('fonts/ar_darling.svg#ar_darling') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spaghetti_western';
    src: url('fonts/spaghetti_western.eot');
    src: url('fonts/spaghetti_western.eot?#iefix') format('embedded-opentype'),
         url('fonts/spaghetti_western.woff2') format('woff2'),
         url('fonts/spaghetti_western.woff') format('woff'),
         url('fonts/spaghetti_western.ttf') format('truetype'),
         url('fonts/spaghetti_western.svg#spaghetti_western') format('svg');
    font-weight: normal;
    font-style: normal;
}